[Unit]
Description=Load user color overrides to xdg-config/gtk-4.0

[Service]
Type=simple
ExecStart=adw-user-colors --start
Restart=always
RestartSec=1

[Install]
WantedBy=default.target